<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="ApplicationLogAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS zZ} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ContainerLogger" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[container] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.github.lkq.smesh.docker.ContainerLogger" level="info" additivity="false">
        <appender-ref ref="ContainerLogger"/>
    </logger>

    <logger name="smesh-consul" level="info" additivity="false">
        <appender-ref ref="ContainerLogger"/>
    </logger>

    <logger name="com.github.lkq.smesh.test.AttachLogging" level="info" additivity="false">
        <appender-ref ref="ApplicationLogAppender"/>
    </logger>

    <logger name="com.lkq.services.docker.daemon" level="debug" additivity="false">
        <appender-ref ref="ApplicationLogAppender"/>
    </logger>

    <root level="info">
        <appender-ref ref="ApplicationLogAppender"/>
    </root>
</configuration>